html {
  background-color: #d0bbbd;
  font-family: "PT Serif", serif;
}

body {
  background-color: #ccc;
  font-family: "PT Serif", serif;
}

h1 {
  font-size: 1.5rem;
  font-family: "PT Sans", sans-serif;
}

article {
  font-style: italic;
  color: #666;
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
}

p:first-child {
  font-weight: bold;
}

p:nth-child(5) {
  font-size: 1rem;
  font-style: italic;
  line-height: inherit;
}

blockquote {
  text-align: center;
  font-style: italic;
  font-size: 2rem;
}

h2 {
  color: #5d8432;
  font-family: Verdana, sans-serif;
  font-weight: bold;
}

nav {
  font-family: Verdana, sans-serif;
  font-weight: bold;
}

#hadro {
  font-size: 3rem;
}

figure {
  font-style: italic;
  font-size: 1rem;
  text-align: center;
}

a {
  text-decoration: none;
}

a:link {
  color: #b42885;
}

a:hover {
  color: #460e13;
  text-decoration: none;
}

ol {
  list-style-type: lower-greek;
}

dl dt {
  font-weight: bold;
}

ul :last-child {
  list-style-type: circle;
  font-weight: normal;
}
